extends layout
block content
   h2 Products
   .products
      each product in products
         .product
            h3= product._id
            p= product.productName
            p= product.productDescn
            p= product.productPrice
            a(href=`/products/${product._id}`)
               img(src=product.productImage height='200px')
   .orders
      h2 Orders 
      .list
         each order in orders
            .order
               h3= order._id
               p= order.totalPrice
               p= order.status
               p= order.orderDate
   footer
      p 2024 Hey Im Nomee.
         a(href='https://www.linkedin.com/in/heyimnomee/') LinkedIn


