doctype html 
html
   head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title= `CodeAlpha E-Commerce ${title}` 
   body
      h1 Welcome to our store
      nav
         ul 
            li: a(href="/") Home
            li: a(href="/products") All Products
            li: a(href="/user/register") Register
            li: a(href="/user/login") Login
            li: a(href="/productsCart") Viw Cart
      h2 Products
      each product in products
         h3= product._id
         p= product.productName
         p= product.productDescn
         p= product.productPrice
         a(href=`/products/${product._id}`)
            img(src=product.productImage height='200px')


