doctype html
html(lang="en")
  head
    title Cart
  body
    h1 Your Cart

    table
      thead
        tr
          th Product Name
          th Quantity
          th Price
          th Image
          th Actions
      tbody(id="cart-items")
      
    p#empty-cart-message Your cart is empty

    h3 Total: $<span id="total-price">0.00</span>

    form(action="/api/order" method="POST")
      input(type="hidden" name="cartData" id="cartDataInput")
      button(type="submit") Place Order
    
    br
    a(href='/') Continue Shopping (Back to main)

    script.
      const userId = '#{userId}'
      document.addEventListener('DOMContentLoaded', function () {
        let cart = JSON.parse(localStorage.getItem('cart')) || [];

        // If the cart is empty, show the empty cart message
        if (!cart.length) {
          document.getElementById('empty-cart-message').style.display = 'block';
          return;
        }

        const order = {
          userId,
          'products': []
        }

        // Hide the empty cart message if cart has items
        document.getElementById('empty-cart-message').style.display = 'none';

        let cartItemsContainer = document.getElementById('cart-items');
        let totalPrice = 0;

        // Loop through each item in the cart and render it
        cart.forEach(product => {
          let productRow = document.createElement('tr');
          const single = {'product':product.productId, 'quantity':product.quantity}
          order['products'].push(single);

          productRow.innerHTML = `
            <td>${product.productName}</td>
            <td>${product.quantity}</td>
            <td>$${product.productPrice * product.quantity}</td>
            <td><img src=${product.productImage} width='50px'/></td>

            <td><button onclick="removeFromCart('${product.productId}')">Remove</button></td>
          `;
          
          totalPrice += product.productPrice * product.quantity;
          cartItemsContainer.appendChild(productRow);

        });

        // Update the total price
        document.getElementById('total-price').innerText = totalPrice.toFixed(2);

        // Set the hidden input value with the cart data for order submission

        document.getElementById('cartDataInput').value = JSON.stringify(order);
      });

      function removeFromCart(productId) {
        let cart = JSON.parse(localStorage.getItem('cart')) || [];

        // Filter out the product with the given ID
        cart = cart.filter(product => product.productId !== productId);

        // Save updated cart back to localStorage
        localStorage.setItem('cart', JSON.stringify(cart));

        // Reload the page to reflect changes
        window.location.reload();
      }
