extends layout

block content
   h1 All Products 
   .products
      each product in products
         .product
            h3= product._id
            p= product.productName
            p= product.productDescn
            p= product.productPrice
            a(href=`/products/${product._id}`)
               img(src=product.productImage height='200px')